.footer {
  @apply w-full border-t text-center text-sm text-gray-500 dark:border-gray-700 dark:text-gray-400 bg-slate-50 dark:bg-slate-900;

  .container {
    @apply space-y-8 py-8;
  }

  .copyright {
    @apply !text-sm mx-auto;
  }
}
